@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'roboto';
  background-image: url('./images/fondo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  background-color: #8D2B0B;
  height: 116px;
  justify-content: space-between;
}

nav .btnPerfil {
  margin-left: 40px;
  background: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}

nav .btnMenu {
  margin-right: 41px;
  background: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}

.alimentos-dia {
  border: 2px solid black;
  width: 25em;
  height: 10em;
  text-align: center;
  margin-bottom: 3em;
  display: grid;
  align-items: center;
  background-color: rgba(247, 201, 72, 1);
}


.alimentos-perecederos {
  border: 2px solid black;
  width: 25em;
  height: 10em;
  text-align: center;
  display: grid;
  align-items: center; 
  margin-bottom: 3em;
  background-color: rgba(15, 96, 155, 1); 
}

.alimentos-dia, h3{
  color: rgba(15, 96, 155, 1); 
  font-size: 1em;
}

.alimentos-perecederos, h3{
 color: rgba(247, 201, 72, 1); 
}


.boton-agregar {
  align-items: center;
  width: 41%;
  padding: 13px;
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  font-size: 22px;
  font-family: arial;
  justify-content: space-between;
  box-shadow: 2px 8px 8px rgb(0 0 0 / 59%);
}

.principalForm{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
  margin: 2em; 
}